body {
    background-color: #f3f2f0;
}
#title,
.instructions,
#btn-home {
    text-align: center;
    border: 1px solid orange;
    margin-left: auto;
    margin-right: auto;
}

#main {
    position: absolute;
    top: 17%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid orange;
}

#title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Playfair', serif;
    color: #010101;
}

#btn-home {
    margin-top: 40px;
}

#i2, 
#n1, 
#d1,
#r2 {
    font-size: 95px;
}

#r1,
#i1,
#e1,
#n2,
#e2 {
    font-size: 60px;
}

/* #e2 {
    font-size: 75px;
} */

#f2 {
    display: inline-block;
    font-size: 80px;
    margin-left: 20px;
}

#f1 {
    font-size: 150px;
}

#r1,
#d2 {
    font-size: 65px;
}

#btnstart {
    background-color: #f8551a;
}

#inst {
    background-color: white;
    opacity: .6;
}

.instructions {
    font-family: 'Raleway', sans-serif;
    opacity: 1;
}